<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <!-- include summernote css/js -->
        <link href="{{ url_for('static', filename='css/summernote/summernote.min.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/summernote/summernote.min.js') }}"></script>

        <title>{{ challenge.name }}</title>
    </head>
    <body>
        <div class="dialog-box content">
            <div class="logo-bar">
                <a href="{{ url_for('player.index') }}">
                    <div class="qritzeljagd-font"></div>
                </a>
            </div>

            <div class="divider horizontal"></div>

            <h2>{{ _("Your Track") }}: {{ track_name }}</h2>

            {% for message in get_flashed_messages() %}
            <div class="float-box">
              <div class="notification-box">
                <p>{{ message }}</p>
              </div>
            </div>
            {% endfor %}

            <div class="summernote">
                {{ challenge.content|safe }}
            </div>

            {% if solved %}
            <form method="POST">
                <div class="button right">
                    <input name="skip_btn" type="submit" value="{{ _('Skip') }}"/>
                </div>
            </form>

            <div class="summernote">
                {{ next_station_hint|safe }}
            </div>
            {% endif %}
              
        </div>
    </body>
</html>