<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <title>QRitzeljagd</title>
    </head>
    <body>
        <div class="dialog-box content">
            <div class="logo-bar">
                <a href="">
                    <div class="qritzeljagd-font"></div>
                </a>
            </div>

            <div class="divider horizontal"></div>

            {% for message in get_flashed_messages() %}
            <div class="float-box">
              <div class="notification-box">
                <p>{{ message }}</p>
              </div>
            </div>
            {% endfor %}

            <div class="info">
                <h1>{{ _("Welcome to QRitzeljagd!") }}</h1>
                <h2>{{ _("This little game will tour you around our small but beautiful university campus. We wish you much success!") }}</h2>

                <div class="intro">
                    <div class="first"></div>
                    <div class="second"></div>
                </div>
            </div>

            <div class="spacer"></div>
        </div>
    </body>
</html>