<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <title>QRitzeljagd</title>
    </head>
    <body>
        <div class="dialog-box content">
            <div class="logo-bar">
                <a href="">
                    <div class="qritzeljagd-font"></div>
                </a>
            </div>

            <div class="divider horizontal"></div>

            {% for message in get_flashed_messages() %}
            <div class="float-box">
              <div class="notification-box">
                <p>{{ message }}</p>
              </div>
            </div>
            {% endfor %}

            <div class="info">
                <h1>{{ _("Your progress") }}</h1>
                <h2>{{ _("Your Track") }}: {{ track_name }}</h2>

                <div class="progressbar">
                    {% for waypoint in waypoints %}
                    {% if waypoint.found %}
                    <a href="{{ waypoint.url }}">
                        <div class="waypoint found">
                            {{ waypoint.position }}
                        </div>
                    </a>
                    {% else %}
                    <div class="waypoint">
                        {{ waypoint.position }}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="summernote">
                <h3>{{ _("Next station:") }}</h3>
                {{ next_station_hint|safe }}
            </div>

            <div class="spacer"></div>
        </div>
    </body>
</html>
