<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <!-- include summernote css/js -->
        <link href="{{ url_for('static', filename='css/summernote/summernote.min.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/summernote/summernote.min.js') }}"></script>

        <title>{{ station_name }}</title>
    </head>
    <body>
        <div class="dialog-box content">
            <div class="logo-bar">
                <a href="{{ url_for('player.index') }}">
                    <div class="qritzeljagd-font"></div>
                </a>
            </div>

            <div class="divider horizontal"></div>

            <h2>{{ _("Your Track") }}: {{ track_name }}</h2>

            <div class="progressbar">
                {% for waypoint in waypoints %}
                {% if waypoint.found or is_master %}
                <a href="{{ waypoint.url }}">
                {% endif %}
                    {% if waypoint.station.name == station_name %}
                    <div class="waypoint current">
                    {% elif waypoint.found %}
                    <div class="waypoint found">
                    {% else %}
                    <div class="waypoint">
                    {% endif %}
                        {{ loop.index }}
                    </div>
                {% if waypoint.found or is_master %}
                </a>
                {% endif %}
                {% endfor %}
            </div>

            <div class="divider horizontal"></div>

            {% for message in get_flashed_messages() %}
            <div class="float-box">
              <div class="notification-box">
                <p>{{ message }}</p>
              </div>
            </div>
            {% endfor %}

            <div class="summernote">
                {{ station_content|safe }}
            </div>

            {% if has_challenge %}
            <a class="button" href="{{ request.path }}/challenge">{{ _("To The Challenge!") }}</a>
            {% else %}
            <div class="divider horizontal"></div>
            <div>
                <h3>{{ _("Next station:") }}</h3>
                {{ next_station_hint|safe }}
            </div>
            {% endif %}
              
        </div>
    </body>
</html>
