@font-face {
    font-family: "Cantarell-Light";
    src: url("../fonts/Cantarell-Light.otf") format("opentype");
}
  
@font-face {
    font-family: "Cantarell-Regular";
    src: url("../fonts/Cantarell-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Cantarell-Bold";
    src: url("../fonts/Cantarell-Bold.otf") format("opentype");
}
  
@font-face {
    font-family: "Cantarell-ExtraBold";
    src: url("../fonts/Cantarell-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
}

body {
    background-color: #addb16 !important;
    background-image: url("../img/repeat.png");
    background-repeat: repeat;
    background-size: 120px;
    margin: 0;
    font-family: Cantarell-Regular;
}

.float-box {
    position: aboslute;
    width: 100%;
}

.notification-box {
    background: #2f71a3;
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qritzeljagd-logo {
    content: url("../icons/qritzeljagd-logo.svg");
}

.qritzeljagd-logo.medium {
    width: 100%;
}

.qritzeljagd-font {
    content: url("../icons/qritzeljagd.svg");
    height: 60px;
    border: solid 2px #fff;
}


.qritzeljagd-font:hover {
    border: dashed 2px #575757;
    cursor: pointer;
}

.qritzeljagd-font:active {
    border: solid 2px #575757;
    background-color: #8ebadc;
}

.dir {
    font-size: 40px;
    padding: 6px 10px 8px 10px;
    background-color: #fff;
    font-family: RobotoCondensed-Regular;
    color: #525252;
    margin-left: 2px;
    margin-right: 2px;
}

.dir.layer {
    cursor: default;
}

.dir.name {
    text-decoration: underline;
    border: solid 2px #fff;
}

.dir p {
    margin: 0;
    margin-bottom: 5px;
    line-height: 40px;
}

.dir.name:hover {
    border: dashed 2px #575757;
    cursor: pointer;
}

.dir.name:active {
    border: solid 2px #575757;
    background-color: #8ebadc;
}

.logout {
    position: absolute;
    top: 45px;
    right: 70px;
    content: url("../icons/logout.svg");
    width: 24px;
    height: 24px;
}

.dialog-box {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.dialog-box.login {
    width: 400px;
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
}

.dialog-box.content {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1400px;
    width: 75%;
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
    height: 100%;
    border-radius: 0;
    overflow-y: auto;
}

.logo-bar {
    width: 100%;
    height: 80px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 15px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav a {
    font-family: Cantarell-Light;
    text-decoration: none;
    color: #575757;
    font-size: 80px;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}

nav li.active a {
    text-decoration: underline;
}

nav a:hover {
    background-color: #575757;
    color: #fff;
}

.divider {
    background-color: #e2e1e1;
}

.divider.horizontal {
    width: 100%;
    height: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.box-padding.all {
    padding: 20px;
}

.box-padding.left {
    padding-left: 20px;
}

.box-padding.right {
    padding-right: 20px;
}

.box-padding.bottom {
    padding-bottom: 20px;
}

input[type=text],
input[type=password] {
  all: unset;
  background-color: #fff;
  border: solid 1px #e2e8f0;
  height: 38px;
  border-radius: 0px;
  width: 100%;
  justify-content: center;
  padding: 5px 10px 5px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Cantarell-Regular;
  font-size: 15px;
  text-align: left;
}

input[type=text]:focus,
input[type=password]:focus {
  border: solid 1px #2f71a3;
  transition: width 2s;
}

input[type=submit], .button:not(div) {
  all: unset;
  font-family: Cantarell-Light;
  font-size: 17px;
  text-align: center;
  border-radius: 0 0 5px 5px;
  width: 100%;
  height: 50px;
  border-top: solid 1px #edf2f7;
  border-right: none;
  border-bottom: none;
  border-left: none;
  background-color: #fff;
}

.button:not(div) {
    display: block !important;
    padding: 1px 6px;
}

.dialog-box.content .warning input[type=submit], .button:not(div).warning {
    background-color: rgb(180, 48, 48);
    color: #fff;
}

input[type=submit]:hover, button:hover {
  background-color: #ececec;
  cursor: pointer;
  transition: width 2s;
}

p.input-descriptor {
    color: #525252;
    margin: 20px 0 10px 0;
}

@media screen and (max-width: 500px) {
    .dialog-box.login,
    .dialog-box.content {
        width: 100%;
        border-radius: 0px;
    }

    .dialog-box.content {
        padding-left: 5px;
        padding-right: 5px;
    }

    .button.left {
        left: 22px !important;
    }
    
    .button.right {
        right: 30px !important;
    }
}

.station-list-container {
    display: flex;
    flex-wrap: wrap;
}

.station-list-container > div {
    background-color: #e2e1e1;
    border: 2px solid #fff;
    width: 230px;
    height: 140px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    overflow: hidden;
    position: relative;
}

.station-list-container > div.add {
    background-color: #2f71a3;
}

.add a {
    text-decoration: none;
}

.add .content {
    font-size: 105px;
    width: 100%;
    height: 100%;
    margin: auto;
    color: #fff;
}

.station-list-container > div:hover {
    border: dashed 2px #575757;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.station-list-container > div:active {
    background-color: #8ebadc;
    border: solid 2px #575757;
}

.station_box a {
    all: unset;
}

.station_box .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.station_box .content .station_name {
    font-size: 30px;
    font-family: Cantarell-ExtraBold;
    width: 100%;
    overflow-wrap: anywhere;
}

.station_box .content .station_info {
    font-size: 24px;
    font-family: Cantarell-Light;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .qritzeljagd-font {
        height: 35px;
    }

    .dir {
        font-size: 20px;
        padding: 5px;
    }

    nav a {
        font-size: 50px;
    }

    .logout {
        display: none;
    }

    .station-list-container > div {
        width: 100%;
        height: 150px;
    }

    .station-list-container > div.add {
        height: auto;
    }

    .add .content {
        font-size: 40px;
    }
}

.button.left {
    left: 50px;
    position: absolute;
}

.button.right {
    right: 58px;
    position: absolute;
}

.dialog-box.content input[type=submit], .dialog-box.content .button:not(div) {
    all: unset;
    font-family: RobotoCondensed-Regular;
    font-size: 17px;
    text-align: center;
    width: 100px;
    height: 50px;
    background-color: #e6e6e6;
    border: solid 2px #fff;
    color: #575757;
  }
  
.dialog-box.content input[type=submit]:hover, .dialog-box.content .button:not(div):hover {
    border: dashed 2px #575757;
    cursor: pointer;
}

.dialog-box.content input[type=submit]:active, .dialog-box.content .button:not(div):active {
    background-color: #8ebadc;
    border: solid 2px #575757;
}

.listbox {
    width: 100%;
    border: solid 1px #e2e8f0;
}

.listbox .item {
    width: 100%;
    height: 38px;
}

.listbox .item:not(:last-child) {
    border-bottom: solid 1px #e2e8f0;
}

.item input[type=submit] {
    height: 38px !important;
    width: 100% !important;
    border: none !important;
    font-family: Cantarell-ExtraBold !important;
    font-size: 20px !important;
}

.item input[type=submit]:hover {
    background-color: #575757;
    color: #fff;
}

.item input[type=submit]:active {
    border: none !important;
}

.item.waypoint {
    display: flex;
    width: 100%;
    align-items: center;
}

.item.waypoint:hover {
    background-color: #f0f0f0;
}

.item.waypoint .data {
    display: flex;
    align-items: flex-start;
    padding-left: 10px;
}

.item.waypoint .data > div {
    margin-right: 10px;
    align-self: center;
}

.data .id {
    align-items: flex-start;
    font-family: Cantarell-ExtraBold;
    width: 20px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 50%;
}

.data .name {
    align-items: flex-end;
}

.item.waypoint .buttons {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
}

.buttons a > div {
    width: 36px;
    height: 36px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 2px;
    background-color: #ececec;
}

.buttons a > div:hover {
    background-color: #575757;
    filter: invert(1);
}

.buttons a > div > img {
    filter: invert(0);
}

.buttons .apply input[type=submit], .button:not(div).apply,
.buttons .close input[type=submit], .button:not(div).close {
    background: url("../icons/apply.svg") no-repeat !important;
    background-position: center !important;
    background-size: 18px 18px !important;
    background-color: #ececec !important;
    width: 36px !important;
    height: 36px !important;
    margin-left: 2px !important;
}

.buttons .close input[type=submit], .button:not(div).close {
    background: url("../icons/close.svg") no-repeat !important;
    background-position: center !important;
    background-size: 18px 18px !important;
    background-color: #ececec !important;
    width: 36px !important;
    height: 36px !important;
    margin-left: 2px !important;
}

.buttons .apply input[type=submit]:hover, .button:not(div).apply:hover,
.buttons .close input[type=submit]:hover, .button:not(div).close:hover {
    background-color: #575757;
    filter: invert(1);
}

.buttons .delete {
    background-color: rgb(180, 48, 48);
}

.buttons div > img {
    width: 16px;
    height: 16px;
}

.buttons .delete > img {
    filter: invert(1);
}

.info h1 {
    text-align: center;
    font-family: Cantarell-ExtraBold;
    font-size: 40px;
}

.info h2,
h2 {
    text-align: center;
    font-family: Cantarell-Light;
    font-size: 30px;
}

.intro {
    width: 100%;
}

.intro .first {
    content: url("../img/intro1.svg");
    width: 100%;
}

.intro .second {
    content: url("../img/intro2.svg");
    width: 100%;
}

.spacer {
    width: 100%;
    height: 100px;
}

.progressbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.progressbar .waypoint {
    width: 40px;
    height: 40px;
    border: 2px solid #575757;
    border-radius: 100%;
    font-size: 20px;
    margin: 5px auto;
    text-align: center;
    vertical-align: middle;
    line-height: 38px;
    color: #2f71a3;
    font-family: Cantarell-ExtraBold;
    cursor: default;
}

.progressbar .waypoint.found {
    background-color: #addb16;
    border: 2px solid #addb16;
    cursor: pointer;
}

.progressbar .waypoint.current {
    background-color: #2f71a3;
    border: 2px solid #2f71a3;
    cursor: pointer;
    color: #fff;
}

.progressbar a {
    padding: 10px;
    max-width: 180px;
    text-decoration: inherit;
    color: inherit;
}

.summernote img {
    width: 100% !important;
}
