@font-face {
    font-family: "Cantarell-Light";
    src: url("../fonts/Cantarell-Light.otf") format("opentype");
}
  
@font-face {
    font-family: "Cantarell-Regular";
    src: url("../fonts/Cantarell-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Cantarell-Bold";
    src: url("../fonts/Cantarell-Bold.otf") format("opentype");
}
  
@font-face {
    font-family: "Cantarell-ExtraBold";
    src: url("../fonts/Cantarell-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    font-family: Cantarell-Regular;
}

body > div {
    margin: 0 auto;
    text-align: center;
}

.logo > img {
    height: 80px;
}

.divider {
    width: 100%;
    height: 3px;
    background-color: rgb(199, 199, 199);
    margin-top: 30px;
    margin-bottom: 30px;
}

.headerbar h1 {
    font-family: Cantarell-Regular;
    font-size: 40px;
    margin: 0;
}

.description h2 {
    font-family: Cantarell-Light;
    font-size: 20px;
}

.corner {
    position: fixed;
    bottom: -450px;
    right: -150px;
    width: 300px;
    height: 900px;
    background-color: rgb(226, 226, 226);
    transform: rotate(60deg);
}

.footer-logo {
    position: fixed;
    bottom: -55px;
    right: -35px;
}

.footer-logo > img {
    width: 200px;
}

.codes {
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;*/
    columns: 2;
}

.codes .qr-code {
    margin-bottom: 160px;
}
