<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <title>Login</title>
    </head>
    <body>
        {% for message in get_flashed_messages() %}
        <div class="float-box">
          <div class="notification-box">
            <p>{{ message }}</p>
          </div>
        </div>
        {% endfor %}

        <div class="dialog-box login">
            <div class="box-padding all">
                <div class="qritzeljagd-logo medium"></div>
            </div>

            <form method="POST">
                <div class="box-padding left right bottom">
                    <p class="input-descriptor">{{ _("Username") }}</p>
                    <input type="text" name="username" value=""/>
                    <p class="input-descriptor">{{ _("Password") }}</p>
                    <input type="password" name="password" value=""/>
                </div>

                <input name="login_btn" type="submit" value="{{ _('Login') }}"/>
            </form>
        </div>
    </body>
</html>