<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <title>Overview</title>
    </head>
    <body>
        {% for message in get_flashed_messages() %}
        <div class="float-box">
          <div class="notification-box">
            <p>{{ message }}</p>
          </div>
        </div>
        {% endfor %}

        <div class="dialog-box content">
            <div class="logo-bar">
                <a href="{{ url_for('master.overview') }}">
                    <div class="qritzeljagd-font"></div>
                </a>

                <a href="{{ url_for('master.logout') }}">
                    <div class="logout"></div>
                </a>
            </div>

            <div class="divider horizontal"></div>

            <div class="nav-box">
                <nav>
                    <ul>
                        <li class="active"><a href="">{{ _("Overview") }}</a></li>
                        <li><a href="{{ url_for('master.stations') }}">{{ _("Stations") }}</a></li>
                        <li><a href="{{ url_for('master.challenges') }}">{{ _("Challenges") }}</a></li>
                        <li><a href="{{ url_for('master.tracks') }}">{{ _("Tracks") }}</a></li>
                        <li><a href="{{ url_for('master.playgroups') }}">{{ _("Playgroups") }}</a></li>
                        <li><a href="{{ url_for('master.printouts') }}">{{ _("Printouts") }}</a></li>
                    </ul>
                </nav>
            </div>

            <div class="spacer"></div>
        </div>
    </body>
</html>