<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>Playgroup</title>
    </head>
    <body>
        <div class="dialog-box content">
            <div class="logo-bar">
                <a href="{{ url_for('master.overview') }}">
                    <div class="qritzeljagd-font"></div>
                </a>
                <div class="dir layer">
                    <p>/</p>
                </div>

                <a href="{{ url_for('master.playgroups') }}">
                    <div class="dir name">
                        <p>Playgroups</p>
                    </div>
                </a>

                <a href="{{ url_for('master.logout') }}">
                    <div class="logout"></div>
                </a>
            </div>

            <div class="divider horizontal"></div>

            {% for message in get_flashed_messages() %}
            <div class="float-box">
              <div class="notification-box">
                <p>{{ message }}</p>
              </div>
            </div>
            {% endfor %}

            <form method="POST">
                <div class="box-padding left right bottom">
                    <p class="input-descriptor">{{ _("Track") }}</p>
                    <input type="text" name="track" value="{{ value_track }}" disabled/>

                    <p class="input-descriptor">{{ _("Name") }}</p>
                    <input type="text" name="name" value="{{ value_name }}"/>

                    <p class="input-descriptor">{{ _("Maximum Players") }}</p>
                    <input type="number" name="max_players" min="0" max="50" value="{{ value_max_players }}"/>

                    <p class="input-descriptor">{{ _("Update Progress (Discovered Waypoint)") }}</p>
                    <select name="select_update_progress">
                        <option value="" selected></option>
                        <option value="[RESET TO ZERO]">[RESET TO ZERO]</option>
                        {% for waypoint in waypoints %}
                        <option value="{{ waypoint.waypoint_id }}">{{ waypoint.station.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="divider horizontal"></div>

                <div class="button left">
                    <input name="cancel_btn" type="submit" value="{{ _('Cancel') }}"/>
                </div>

                <div class="button right">
                    <input name="save_btn" type="submit" value="{{ _('Save') }}"/>
                </div>
            </form>

            <div class="divider horizontal"></div>

            <div class="progressbar">
                {% for waypoint in waypoints %}
                <a href="{{ waypoint.url }}" target="_blank">
                    {% if waypoint.found %}
                    <div class="waypoint found">
                    {% else %}
                    <div class="waypoint">
                    {% endif %}
                        {{ loop.index }}
                    </div>
                    <p>{{ waypoint.station.name }}</p>
                    <p>{{ waypoint.station.location }}</p>
                </a>
                {% endfor %}
            </div>

            <div class="divider horizontal"></div>

            <div class="box-padding left right bottom listbox">
                {% for person in persons %}
                <div class="item waypoint">
                    <div class="data">
                        <div class="uuid">
                            {{ person.uuid }}
                        </div>
                        <div class="note">
                            {{ person.note }}
                        </div>
                        <div class="playgroup">
                            {{ person.playgroup_name }}
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="/master/persons/{{ person.uuid }}/move/{{ TARGET_PLAYGROUP }}">
                            <div class="move">
                                <img class="table-image" src="{{ url_for('static', filename='icons/move.svg') }}"/>
                            </div>
                        </a>
                        <a href="/master/persons/{{ person.uuid }}/delete">
                            <div class="delete">
                                <img class="table-image" src="{{ url_for('static', filename='icons/trash.svg') }}"/>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="spacer"></div>

        </div>
    </body>
</html>
