<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <title>Playgroups</title>
    </head>
    <body>

        <div class="dialog-box content">
            <div class="logo-bar">
                <a href="{{ url_for('master.overview') }}">
                    <div class="qritzeljagd-font"></div>
                </a>
                <div class="dir layer">
                    <p>/</p>
                </div>

                <a href="{{ url_for('master.playgroups') }}">
                    <div class="dir name">
                        <p>Playgroups</p>
                    </div>
                </a>

                <a href="{{ url_for('master.logout') }}">
                    <div class="logout"></div>
                </a>
            </div>

            <div class="divider horizontal"></div>

            {% for message in get_flashed_messages() %}
            <div class="float-box">
              <div class="notification-box">
                <p>{{ message }}</p>
              </div>
            </div>
            {% endfor %}

            <div class="station-list-container">
                <div class="add">
                    <a href="{{ url_for('master.playgroups_add') }}">
                        <div class="content">+</div>
                    </a>
                </div>
                {% for box in boxes %}
                <div class="station_box">
                    <a href="{{ url_for(request.endpoint) }}/{{ box.playgroup_id }}">
                        <div class="content">
                            <div class="station_name">{{ box.track_name }}</div>
                            <div class="station_info">{{ box.info }}</div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>

            <div class="spacer"></div>
              
        </div>
    </body>
</html>