<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <title>Printout</title>
    </head>
    <body>
        <div class="dialog-box content">
            <div class="logo-bar">
                <a href="{{ url_for('master.overview') }}">
                    <div class="qritzeljagd-font"></div>
                </a>
                <div class="dir layer">
                    <p>/</p>
                </div>

                <a href="{{ url_for('master.printouts') }}">
                    <div class="dir name">
                        <p>Printouts</p>
                    </div>
                </a>

                <a href="{{ url_for('master.logout') }}">
                    <div class="logout"></div>
                </a>
            </div>

            <div class="divider horizontal"></div>

            {% for message in get_flashed_messages() %}
            <div class="float-box">
              <div class="notification-box">
                <p>{{ message }}</p>
              </div>
            </div>
            {% endfor %}

            <form method="POST">
                <div class="box-padding left right bottom">
                    <p class="input-descriptor">{{ _("Station") }}</p>
                    <select name="select_station">
                        {% for station in station_choices %}
                        {% if station|string() == preselect|string() %}
                        <option value="{{ station }}" selected>{{ station }}</option>
                        {% else %}
                        <option value="{{ station }}">{{ station }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <p class="input-descriptor">{{ _("Note") }}</p>
                    <input type="text" name="note" value="{{ value_note }}"/>
                    {% if editing %}

                    <p class="input-descriptor">{{ _("Tracks") }}</p>
                    <div class="listbox">
                        {% for waypoint in waypoints %}
                        <div class="item waypoint">
                            <div class="data">
                                <div class="id">
                                    {{ loop.index }}
                                </div>
                                <div class="name">
                                    {{ waypoint.track.name }}
                                </div>
                            </div>
                            <div class="buttons">
                                <!--<a href="/master/waypoints/{{ waypoint.track_id }}/{{ waypoint.station.id }}/delete">-->
                                    <div class="delete">
                                        <img class="table-image" src="{{ url_for('static', filename='icons/trash.svg') }}"/>
                                    </div>
                                <!--</a>-->
                            </div>
                        </div>
                        {% endfor %}
                        <!--{% if add_waypoint %}
                        <div class="item waypoint">
                            <div class="data">
                                <div class="id">
                                    {{ waypoints|length + 1 }}
                                </div>
                                <div class="name">
                                    <select name="select_station">
                                        {% for station in stations %}
                                        <option value="{{ station.name }}">{{ station.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="buttons">
                                <div class="close">
                                    <input type="submit" name="close_btn" value=""/>
                                </div>
                                <div class="apply">
                                    <input type="submit" name="apply_btn" value=""/>
                                </div>
                            </div>
                        </div>
                        {% endif %}-->
                        <div class="item">
                            <div class="add">
                                <input type="submit" name="add_waypoint" value="+"/>
                            </div>
                        </div>
                    </div>

                    <p class="input-descriptor">{{ _("Delete Printout") }}</p>
                    <div class="warning">
                        <input name="delete_btn" type="submit" value="{{ _('Delete') }}"/>
                    </div>
                    {% endif %}
                    <div class="button right">
                        <input name="print_btn" type="submit" value="{{ _('Print it!') }}"/>
                    </div>
                </div>

                <div class="divider horizontal"></div>

                <div class="button left">
                    <input name="cancel_btn" type="submit" value="{{ _('Cancel') }}"/>
                </div>

                <div class="button right">
                    <input name="save_btn" type="submit" value="{{ _('Save') }}"/>
                </div>
            </form>

            <div class="spacer"></div>
              
        </div>
    </body>
</html>
