<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <!-- include libraries(jQuery, bootstrap) -->
        <link href="{{ url_for('static', filename='css/summernote/bootstrap.min.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/summernote/jquery-3.5.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/summernote/bootstrap.min.js') }}"></script>

        <!-- include summernote css/js -->
        <link href="{{ url_for('static', filename='css/summernote/summernote.min.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/summernote/summernote.min.js') }}"></script>

        <title>Station</title>
    </head>
    <body>
        <div class="dialog-box content">
            <div class="logo-bar">
                <a href="{{ url_for('master.overview') }}">
                    <div class="qritzeljagd-font"></div>
                </a>
                <div class="dir layer">
                    <p>/</p>
                </div>

                <a href="{{ url_for('master.stations') }}">
                    <div class="dir name">
                        <p>Stations</p>
                    </div>
                </a>

                <a href="{{ url_for('master.logout') }}">
                    <div class="logout"></div>
                </a>
            </div>

            <div class="divider horizontal"></div>

            {% for message in get_flashed_messages() %}
            <div class="float-box">
              <div class="notification-box">
                <p>{{ message }}</p>
              </div>
            </div>
            {% endfor %}

            <form method="POST">
                <div class="box-padding left right bottom">
                    <p class="input-descriptor">{{ _("Name") }}</p>
                    <input type="text" name="name" value="{{ value_name }}"/>
                    <p class="input-descriptor">{{ _("Location") }}</p>
                    <input type="text" name="location" value="{{ value_info }}"/>
                    <p class="input-descriptor">{{ _("Site Content") }}</p>
                    <textarea id="summernote" name="content">{{ value_content }}</textarea>
                    <p class="input-descriptor">{{ _("Hint") }}</p>
                    <textarea id="summernote-hint" name="hint">{{ value_hint }}</textarea>
                    <p class="input-descriptor">{{ _("Challenge") }}</p>
                    <select name="select_challenge">
                        {% for challenge in challenge_choices %}
                        {% if challenge|string() == preselect|string() %}
                        <option value="{{ challenge }}" selected>{{ challenge }}</option>
                        {% else %}
                        <option value="{{ challenge }}">{{ challenge }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    {% if editing %}
                    <p class="input-descriptor">{{ _("Delete Station") }}</p>
                    <div class="warning">
                        <input name="delete_btn" type="submit" value="{{ _('Delete') }}"/>
                    </div>
                    {% endif %}
                </div>

                <script>
                    $(document).ready(function() {
                        $('#summernote').summernote();
                        $('#summernote-hint').summernote();
                    });
                </script>

                <div class="divider horizontal"></div>

                <div class="button left">
                    <input name="cancel_btn" type="submit" value="{{ _('Cancel') }}"/>
                </div>

                <div class="button right">
                    <input name="save_btn" type="submit" value="{{ _('Save') }}"/>
                </div>
            </form>

            <div class="spacer"></div>
              
        </div>
    </body>
</html>