<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>Track</title>
    </head>
    <body>
        <div class="dialog-box content">
            <div class="logo-bar">
                <a href="{{ url_for('master.overview') }}">
                    <div class="qritzeljagd-font"></div>
                </a>
                <div class="dir layer">
                    <p>/</p>
                </div>

                <a href="{{ url_for('master.tracks') }}">
                    <div class="dir name">
                        <p>Tracks</p>
                    </div>
                </a>

                <a href="{{ url_for('master.logout') }}">
                    <div class="logout"></div>
                </a>
            </div>

            <div class="divider horizontal"></div>

            {% for message in get_flashed_messages() %}
            <div class="float-box">
              <div class="notification-box">
                <p>{{ message }}</p>
              </div>
            </div>
            {% endfor %}

            <form method="POST">
                <div class="box-padding left right bottom">
                    <p class="input-descriptor">{{ _("Name") }}</p>
                    <input type="text" name="name" value="{{ value_name }}"/>
                    {% if editing %}

                    <p class="input-descriptor">{{ _("Stations") }}</p>
                    <div class="listbox">
                        {% for waypoint in waypoints %}
                        <div class="item waypoint">
                            <div class="data">
                                <div class="id">
                                    {{ loop.index }}
                                </div>
                                <div class="name">
                                    {{ waypoint.station.name }}
                                </div>
                            </div>
                            <div class="buttons">
                                <a href="/master/waypoints/{{ waypoint.track_id }}/{{ waypoint.station.id }}/download">
                                    <div class="download">
                                        <img class="table-image" src="{{ url_for('static', filename='icons/download.svg') }}"/>
                                    </div>
                                </a>
                                <a href="{{ waypoint.url }}" target="_blank">
                                    <div class="preview">
                                        <img class="table-image" src="{{ url_for('static', filename='icons/preview.svg') }}"/>
                                    </div>
                                </a>
                                {% if loop.index > 1 %}
                                <a href="/master/waypoints/{{ waypoint.track_id }}/{{ waypoint.station.id }}/move_up">
                                    <div class="move_up">
                                        ↑
                                    </div>
                                </a>
                                {% else %}
                                <a href=""><div class="blank"></div></a>
                                {% endif %}
                                {% if loop.index < loop.length %}
                                <a href="/master/waypoints/{{ waypoint.track_id }}/{{ waypoint.station.id }}/move_down">
                                    <div class="move_down">
                                        ↓
                                    </div>
                                </a>
                                {% else %}
                                <a href=""><div class="blank"></div></a>
                                {% endif %}
                                <a href="/master/waypoints/{{ waypoint.track_id }}/{{ waypoint.station.id }}/delete">
                                    <div class="delete">
                                        <img class="table-image" src="{{ url_for('static', filename='icons/trash.svg') }}"/>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                        {% if add_waypoint %}
                        <div class="item waypoint">
                            <div class="data">
                                <div class="id">
                                    {{ waypoints|length + 1 }}
                                </div>
                                <div class="name">
                                    <select name="select_station">
                                        {% for station in stations %}
                                        <option value="{{ station.name }}">{{ station.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="buttons">
                                <div class="close">
                                    <input type="submit" name="close_btn" value=""/>
                                </div>
                                <div class="apply">
                                    <input type="submit" name="apply_btn" value=""/>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="item">
                            <div class="add">
                                <input type="submit" name="add_waypoint" value="+"/>
                            </div>
                        </div>
                    </div>

                    <p class="input-descriptor">{{ _("Delete Track") }}</p>
                    <div class="warning">
                        <input name="delete_btn" type="submit" value="{{ _('Delete') }}"/>
                    </div>
                    {% endif %}
                </div>

                <div class="divider horizontal"></div>

                <div class="button left">
                    <input name="cancel_btn" type="submit" value="{{ _('Cancel') }}"/>
                </div>

                <div class="button right">
                    <input name="save_btn" type="submit" value="{{ _('Save') }}"/>
                </div>
            </form>

            <div class="spacer"></div>
              
        </div>
    </body>
</html>