<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/waypoint.css') }}"/>
    <title>Station {{ station_name }} | Track {{ track_name }}</title>
  </head>
  <body>
    <div class="logo">
    </div>

    <div class="codes">
    {% for code in codes %}
    <div class="qr_code">
        <img src="{{ qrcode(code) }}"/>
    </div>
    {% endfor %}
    </div>
    
    <div class="corner">
    </div>

    <div class="footer-logo">
      <img src="{{ url_for('static', filename='icons/qritzeljagd.svg') }}"/>
      <p>Eine Aktion des FSR I. Bitte hängen lassen!</p>
    </div>

  </body>
</html>
